body{
    padding:10px;
}


#films-container::-webkit-scrollbar-track, .films::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#films-container::-webkit-scrollbar, .films::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#films-container::-webkit-scrollbar-thumb, .films::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: green;
}

#settings-container{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#reset{
    margin-left: 40px;
    margin-right: 8px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
}

.switch input[type=radio]{
    display: block;
}


input[type=checkbox] {
    opacity: 0;
    cursor: pointer;
}

.label-name{
    margin-left: 10px;
}

.btn span.glyphicon {
    opacity: 0;
}

.btn span.glyphicon.active {
    opacity: 1;
}

.btn{
    padding:4px 8px;
}

.glyphicon-ok:before {
    margin-left: -10px;
}


.genres div{
    display:inline-block;
    margin-right: 23px;
    margin-bottom:5px;
}

.year {
    vertical-align: top;
    display:inline-block;
    margin-right: 15px;
    white-space:normal;
    min-width:100px;
    max-width:250px;
}

.year-bar{
    width:30%;
    margin-right: 60px;
    padding: 5px 40px;
    border: 3px outset green;
    display: inline-block;
}


#left-label, #right-label {
    position: relative;
    position:relative;
}

.year-bar-wrapper{
    
}

.film {
    margin-bottom: 10px;
    border-bottom: 1px solid;
    padding: 5px;
    position: relative;
    font-weight:900;
}

.film > .name{
  
}

.film > .rating{
    margin-right: 10px;
    color:goldenrod;
   
}

.film > .name, .rating{
    display:inline;
}

.film .bar {
    margin: 0;
    position: absolute;
    height: 5px;
    width: 100%;
    bottom: -6px;
    left: 0px;
}

.film > .bar > .point {
    height: 100%;
    border: none;
    float: left;
}

.year > .films {
    overflow-y: auto;
    height:410px;
}

#films-container {
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;
    height: 500px;
    width: 100%;
}